<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding  xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations"
                          publicKeyToken="b03f5f7f11d50a3a"
                          culture="en-us" />

        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.6.26515.6" />
      </dependentAssembly>-->
      <!--<dependentAssembly>
        <assemblyIdentity name="myAssembly" publicKeyToken="32ab4ba45e0a69a1" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
</configuration>